:root { 
    --text-main: #06022c;
    --color-bg: #e4dabf;
    --color-footer: #c5b999;
}

body{
    background-color:var(--color-bg);
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'balls';
    src: url("fonts/sgs.ttf") format("truetype");
    src: url("fonts/sgs.woff2") format("woff2");
    src: url("fonts/sgs.woff") format("woff");
}

header{
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 350%;
    font-family: 'balls', Fallback, sans-serif;
}

header a{
    color: var(--text-main);
    text-decoration: dashed;
    font-family: 'balls';
}

nav{
    margin-left: 50%;
    margin-top: -2%;
    font-size: 150%;
}

nav a{
    margin-left: 10%;
    text-decoration: underline 2px rgba(96, 33, 243, 0);
    text-underline-offset: 5px;
    padding: 0%;
    color: var(--text-main);
}

nav a.left {
    display: inline-block;
    position: relative;
    color: var(--text-main);
}


nav a.left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: var(--text-main);
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

nav a.left:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Universal character class settings*/
.characters{
    display: inline-grid;
    grid-template-columns: auto auto;
    margin: 10rem 16.5rem;
    gap: 100px 200px;
}

.characters a{
    color: black;
    text-decoration: none;
}

.char{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Universal char class setting*/
.char{
    padding: 20px;
    border: #06022c 1px solid;
    border-radius: 4px;
    width: 350px;
}

.char h4{
    font-size: 2rem;
}

.char h6{
    font-size: 1.6rem;
}

.char p{
    font-size: 1.5rem;
}


/*arnold settings*/
.one img{
    width: 100px;
}

.one h4{
    margin-left: 2rem;
}

.one h6{
    
}

.one p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 3rem;
}

/*Cheesecake settings*/

.two img{
    width: 100px;
}

.two h4{
    margin-left: 2rem;
}

.two h6{

}

.two p{
    width: 200px;
    margin-left: 2rem;
}

/*Tess settings*/

.three img{
    width: 100px;
}

.three h4{
    margin-left: 2rem;
}

.three h6{

}

.three p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 3rem;
}

/*Dessesus settings*/

.four img{
    width: 100px;
}

.four h4{
    margin-left: 2rem;
}

.four h6{
    height: 61.5px;
}

.four p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 4rem;
}

footer{
    margin-top: 15rem;
    background-color: var(--color-footer);
}

.creators p{
    margin-left: 5%;
}

footer a{
    text-decoration: none;
    color: var(--text-main);
    font-weight: bold;
}

.about p {
    font-family: 'balls';
    font-size: 250%;
    margin-left: 5%;
    padding-top: 2%;
    color: var(--text-main);
}

footer img {
    height:3%;
    width: 3%;
    margin-left: 6rem;
    margin-bottom: 6rem;
}