:root { 
    --primary-text: #131418;
    --text-subheader: #707070;
    --color-primary: #FFF;
    --color-secondary: #F0F0FF7F;
    --color-secondary-st: #FFFFFF90;
    --color-accent: #C67AEC;
    --footer-bg: #101113; 
    --footer-text: #484848;
    --primary-gradient: linear-gradient(225deg, #F9CBCB, #C67AEC 30%, #C3FCF2);
}

body{
    background-color: var(--footer-bg);
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'balls';
    src: url("fonts/sgs.ttf") format("truetype");
    src: url("fonts/sgs.woff2") format("woff2");
    src: url("fonts/sgs.woff") format("woff");
}

header{
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 350%;
    font-family: 'balls', Fallback, sans-serif;
}

header a{
    color: var(--footer-text);
    text-decoration: dashed;
    font-family: 'balls';
}

nav{
    margin-left: 50%;
    margin-top: -2%;
    font-size: 150%;
}

nav a{
    margin-left: 10%;
    text-decoration: underline 2px rgba(96, 33, 243, 0);
    text-underline-offset: 5px;
    padding: 0%;
    color: var(--footer-text);
}

nav a.left {
    display: inline-block;
    position: relative;
    color: var(--footer-text);
}


nav a.left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: var(--footer-text);
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

nav a.left:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Universal character class settings*/

.characters{
    display: grid;
    grid-template-columns: auto auto;
    place-self: center;
    margin: 5rem;
    gap: 10% 10%;
}

.characters a{
    color: var(--color-secondary);
    text-decoration: none;  
}

.char{
    display: inline-grid;
    grid-template-columns: auto auto;
}

/*Universal char class setting*/
.char{
    padding: 20px;
    border: #06022c 1px solid;
    background-color:   var(--primary-text);
    padding: 20px;
    height: 300px;
    aspect-ratio: 1.6180;
    border-radius: 14px;
    position: relative;
    cursor: pointer;
}

.one:hover::before{
    opacity: 1;
}

.one::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(24, 33, 215, 0.3), transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms   ;
    width: 100%;
    z-index: 2;
}

.two:hover::before{
    opacity: 1;
}

.two::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(170, 6, 179, 0.3),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms   ;
    width: 100%;
    z-index: 2;
}

.three:hover::before{
    opacity: 1;
}

.three::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(179, 6, 93, 0.3),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms   ;
    width: 100%;
    z-index: 2;
}

.four:hover::before{
    opacity: 1;
}

.four::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(12, 141, 20, 0.3),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms   ;
    width: 100%;
    z-index: 2;
}
.char h4{
    font-size: 2rem;
}

.char h6{
    font-size: 1.6rem;
}

.char p{
    font-size: 1.5rem;
}


/*arnold settings*/
.one{
    border: rgb(24, 33, 215) 2px solid;  
}

.one img{
    width: 100px;
}

.one h4{
    margin-left: 2rem;
}

.one h6{
    
}

.one p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 3rem;
}

/*Cheesecake settings*/
.two{
    border: rgb(170, 6, 179) 2px solid;  
}

.two img{
    width: 100px;
}

.two h4{
    margin-left: 2rem;
}

.two h6{

}

.two p{
    width: 200px;
    margin-left: 2rem;
}

/*Tess settings*/
.three{
    border: rgb(179, 6, 93) 2px solid;  
}

.three img{
    width: 100px;
}

.three h4{
    margin-left: 2rem;
}

.three h6{

}

.three p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 3rem;
}

/*Dessesus settings*/
.four{
    border: rgb(12, 141, 20) 2px solid;  
}

.four img{
    width: 100px;
}

.four h4{
    margin-left: 2rem;
}

.four h6{
    height: 61.5px;
}

.four p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 4rem;
}

footer{
    margin-top: 15rem;
    background-color: var(--color-footer);
}

.creators p{
    margin-left: 5%;
}

footer a{
    text-decoration: none;
    color: var(--footer-text);
    font-weight: bold;
}

.about p {
    font-family: 'balls';
    font-size: 250%;
    margin-left: 5%;
    padding-top: 2%;
    color: var(--footer-text);
}

footer img {
    height:3%;
    width: 3%;
    margin-left: 6rem;
    margin-bottom: 6rem;
}