:root { 
    --text-color: #06022c;

}

body{
    background-color:#e4dabf;
    margin: 0;
}

@font-face {
    font-family: 'balls';
    src: url("sgs.ttf") format("truetype");
    src: url("sgs.woff2") format("woff2");
    src: url("sgs.woff") format("woff");
}

header{
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 350%;
    font-family: 'balls', Fallback, sans-serif;
}

header a{
    color: var(--text-color);
    text-decoration: dashed;
    font-family: 'balls';
}

nav{
    margin-left: 50%;
    margin-top: -2%;
    font-size: 150%;
}

nav a{
    margin-left: 10%;
    text-decoration: underline 2px rgba(96, 33, 243, 0);
    text-underline-offset: 5px;
    padding: 0%;
    color: #06022c;
}

nav a.left {
    display: inline-block;
    position: relative;
    color: #06022c;
}


nav a.left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: #06022c;
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

nav a.left:hover:after {
    transform:scaleX(1);
    transform-origin: bottom left;
}

div {
    margin-top: 5%;
    margin-left: 3%;
    font-size: 115%;
}

footer {
    margin-top: 39.5%;
    height: 360px;
    background-color: aqua;
}

footer p{
    margin-left: 5%;
    padding-top: 3%;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}