:root { 
    --text-main: #06022c;
    --color-bg: #e4dabf;
    --color-footer: #c5b999;
}

body{
    background-color:var(--color-bg);
    margin: 0;
}

@font-face {
    font-family: 'balls';
    src: url("sgs.ttf") format("truetype");
    src: url("sgs.woff2") format("woff2");
    src: url("sgs.woff") format("woff");
}

header{
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 350%;
    font-family: 'balls', Fallback, sans-serif;
}

header a{
    color: var(--text-main);   
    text-decoration: dashed;
    font-family: 'balls';
}

nav{
    margin-left: 50%;
    margin-top: -2%;
    font-size: 150%;
}

nav a{
    margin-left: 10%;
    text-decoration: underline 2px rgba(96, 33, 243, 0);
    text-underline-offset: 5px;
    padding: 0%;
    color: var(--text-main);
}

nav a.left {
    display: inline-block;
    position: relative;
    color: var(--text-main);
}


nav a.left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: var(--text-main);
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

nav a.left:hover:after {
    transform:scaleX(1);
    transform-origin: bottom left;
}

.intro {
    margin-top: 5%;
    margin-left: 3%;
    font-size: 115%;
}
div.intro a.hide {
    margin-top: 0%;
    margin-left: 3%;
    font-size: 115%;
    display: none;
    color:var(--text-main);
}
div.intro a.show {
    margin-top: 5%;
    margin-left: 3%;
    font-size: 115%;
    color:var(--text-main);
    padding:0.24rem;
    background-color: var(--color-footer);
    border-radius: 5px;
}
div.intro a.show:hover + .hide{
    display:block;
    color: var(--text-main);
    animation: fade 250ms linear;
}

footer{
    margin-top: 39.5%;
    background-color: var(--color-footer);
}

.creators p{
    margin-left: 5%;
}

footer a{
    text-decoration: none;
    color: var(--text-main);
    font-weight: bold;
}

.about p {
    font-family: 'balls';
    font-size: 250%;
    margin-left: 5%;
    padding-top: 2%;
    color: var(--text-main)
}

#GitHubLogo {
    fill:var(--text-main);
    scale:0.4;
    transform:translate(12rem , 7rem);
}

@keyframes fade {
    from{
        max-width: 0px;
    }    
    to {
        max-width: 400px;
    }
}