*{
    margin: 0;
}

@font-face {
    font-family: 'balls';
    src: url("sgs.ttf") format("truetype");
    src: url("sgs.woff2") format("woff2");
    src: url("sgs.woff") format("woff");
}

header{
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 300%;
    font-family: 'balls', Fallback, sans-serif;
}

header a{
    color: black;
    text-decoration: dashed;
    font-family: 'balls';
}

nav{
    margin-left: 50%;
    margin-top: -2%;
    font-size: 150%;
}

nav a{
    margin: 3%;
    text-decoration: underline 2px rgba(96, 33, 243, 0);
    text-underline-offset: 5px;
    padding: 0%;
    color: black;
}

nav a.left {
    display: inline-block;
    position: relative;
    color: #000000;
}

nav a.left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

nav a.left:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}