:root {
    --page-bg: #ffffff;
    --header-text: #212121;
    --main-text: #000000;
    --character-main-bg: #ffffff;
    --character-sub-text-bg: #dad7d790;
    --primary-gradient: linear-gradient(225deg, #F9CBCB, #D277FF 30%, #C3FCF2);
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #FFF;
    margin: 0;
    overflow-x: hidden;
}
 
@font-face {
    font-family: 'balls';
    src: url("../fonts/sgs.ttf") format("truetype");
    src: url("../fonts/sgs.woff2") format("woff2");
    src: url("../fonts/sgs.woff") format("woff");
}

header{
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 350%;
    font-family: 'balls', Fallback, sans-serif;
}

header a{
    color: var(--header-text);   
    text-decoration: dashed;
    font-family: 'balls';
}

nav{
    margin-left: 50%;
    margin-top: -2%;
    font-size: 150%;
}

nav a{
    margin-left: 10%;
    text-decoration: underline 2px rgba(96, 33, 243, 0);
    text-underline-offset: 5px;
    padding: 0%;
    color: var(--header-text);
}

nav a.left {
    display: inline-block;
    position: relative;
    color: var(--header-text);
}

nav a.left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: var(--header-text);
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

nav a.left:hover:after {
    transform:scaleX(1);
    transform-origin: bottom left;
}

/*------- Main page -------*/
#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -58%); 
    user-select: none;
  }
  
  #image-track > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }

.DM_tribute{
    margin-top: 41.5rem;
    margin-left: 5rem;  
}

.DM_grid{
    display: inline-grid;
    grid-template-columns: auto auto;   
}

.DM_tribute p{
    margin-left: 2.3rem;
    width: 30rem;
}

.DM_tribute img{
    height:5.5rem;
    margin-top: 1rem;   
}

/*------- Main character page -------*/

/*Universal character class settings*/
.characters{
    display: grid;
    grid-template-columns: auto auto;
    place-self: center;
    margin-top: 5rem;
    justify-content: center;
    gap: 10% 5%;
}

.characters a{
    color: var( --main-text);
    text-decoration: none;  
}

.char{
    display: inline-grid;
    grid-template-columns: auto auto;
}

/*Universal char class setting*/
.char{
    padding: 20px;
    background-color: var(--character-main-bg);
    padding: 20px;
    height: 300px;
    aspect-ratio: 1.6180;
    border-radius: 14px;
    position: relative;
    cursor: pointer;
}

.one:hover::before{
    opacity: 1;
}

.one::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(24, 33, 215, 0.1), transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms   ;
    width: 100%;
    z-index: 2;
}

.two:hover::before{
    opacity: 1;
}

.two::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(170, 6, 179, 0.1),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms   ;
    width: 100%;
    z-index: 2;
}

.three:hover::before{
    opacity: 1;
}

.three::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(179, 6, 93, 0.1),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms   ;
    width: 100%;
    z-index: 2;
}

.four:hover::before{
    opacity: 1;
}

.four::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(12, 141, 20, 0.1),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms   ;
    width: 100%;
    z-index: 2;
}

.char h4{
    font-size: 2rem;
}

.char h6{
    font-size: 1.6rem;
}

.char p{
    font-size: 1.5rem;
}


/*arnold settings*/
.one{
    border: rgb(24, 33, 215) 2px solid;  
}

.one img{
    width: 100px;
}

.one h4{
    margin-left: 2rem;
}

.one p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 3rem;
}

/*Cheesecake settings*/
.two{
    border: rgb(170, 6, 179) 2px solid;  
}

.two img{
    width: 100px;
}

.two h4{
    margin-left: 2rem;
}

.two p{
    width: 200px;
    margin-left: 2rem;
}

/*Tess settings*/
.three{
    border: rgb(179, 6, 93) 2px solid;  
}

.three img{
    width: 100px;
}

.three h4{
    margin-left: 2rem;
}

.three p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 3rem;
}

/*Dessesus settings*/
.four{
    border: rgb(12, 141, 20) 2px solid;  
}

.four img{
    width: 100px;
}

.four h4{
    margin-left: 2rem;
}

.four p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 4rem;
}

/* --- Timeline page --- */
.session_timeline{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10% 5%;
    margin-top: 2.5rem;
    justify-content: center;
}

.session_summary{
    width: 20rem;
    padding: 2rem;
    border: #000000 1px solid;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

.session_summary h5{
    float: right;
}

.expanded{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 10rem;
    width: 100%;
}

.timeline_entry{
    position: absolute;
    text-align: center;
    width: 50rem;
    background-color: #eeeeee;
    padding: 1rem;
    padding-bottom: 30rem;
    border: #000000 1px solid;
    border-radius: 0.5rem;
    visibility: hidden;
}

.tess{
    padding-bottom: 200rem;
}

/*------- Shenanigans page -------*/
.shenanigans{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.shenanigan {
    width: 60rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.shenanigan p{
    width: 50rem;
    margin-left: 5rem;
}

/*Character sub pages*/
.sub_char_image{
    margin-left: 5.7%;
    margin-top: 5.75rem;
    width: 258px;
    height: 258px;
    float:left;
}

.class p{
    margin-top: 24rem;
    margin-left: -16rem;
    float:left;
    font-size: 1.3rem;
}

.stats{
    float: left;
    margin-top: 29rem;
    margin-left: -16rem;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 1rem 1rem;
}

.stat{
    background-color:var(--character-sub-text-bg);
    padding: 0rem 1.2rem 0rem 1.2rem;
    border-radius: 1rem;
}

.information{
    float: left;
    margin-top: 44rem;
    margin-left: -16.5rem;
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 1rem 1rem;
}

.info{
    background-color:var(--character-sub-text-bg);
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    border-radius: 1rem;
}

.backstory {
    margin-left: 5.7%;
    max-width: 25.6rem;
    float:left;
    background-color: var(--character-sub-text-bg);
    padding: 1rem;
    border-radius: 14px;
    background-clip: border-box;
    margin-top: 5.27rem;
}

.backstory h1{
    text-align: center;
    font-size: 35px;
}

.personality {
    margin-left: 5.7%;
    float:left;
    margin-top: 5.27rem;
    background-color: var(--character-sub-text-bg);
    padding: 1rem;
    border-radius: 14px;
    width: 25rem;
}

.personality h2{
    font-size: 34px;
    text-align: center;
}

.personality h3{
    margin-top: 5rem;
}

.traits{
    margin-top: -3.8rem;
}

@media screen and (max-width: 1474px) {


    nav {
    
        margin-left: 50%;
    }
    
    
    footer{
        margin-top: 69rem;
    
    }
    
    .backstory {
        max-width: calc(40.75rem);
    }
    
    .personality {
        margin-top: 2.8125rem;
        max-width: 55.42rem;
        height: 27.65rem;
    }
    
    .personality h2 {
        margin-bottom: 5.5rem;
    
    }
}