:root {
    --page-bg: #1f1f1f;
    --header-text: #FFF;
    --header-bg: #111111;
    --main-text: #e1e1e4;
    --accent-color: #7621af;
    --character-main-bg: #1a1a1a;
    --character-sub-text-bg: #dad7d790;
    --primary-gradient: linear-gradient(225deg, #F9CBCB, #D277FF 30%, #C3FCF2);
}
 
@font-face {
    font-family: 'balls';
    src: url("../fonts/sgs.ttf") format("truetype");
    src: url("../fonts/sgs.woff2") format("woff2");
    src: url("../fonts/sgs.woff") format("woff");
}

/* ------- Universal -------*/

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--page-bg);
    background-position-y: 8.2rem;
    margin: 0;
    overflow-x: hidden;
}

.navbar{
    background-color: var(--header-bg);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

.navbar p{
    color: var(--header-bg);
    position: absolute;
    margin-left: 89vmax;
    margin-bottom: 6rem;
    font-family: adelle, sans-serif;
    font-weight: 500;
}

header{
    font-family: "mr-eaves-sans",sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 350%;
    margin-left: 5rem;
}

header a{
    color: white;
    text-decoration: dashed;
    font-family: 'Cherry Swash', cursive, "obviously-variable",sans-serif;
    font-variation-settings: 'ital' 0, 'wdth' 87, 'wght' 560;
    transition: font-variation-settings 200ms ease-in-out;
    padding: 10px;
}

header a:hover{
    font-variation-settings: 'ital' 0, 'wdth' 87, 'wght' 600;
}

#dumbasses{
    color: #7621af;
}

nav{
    position: absolute;
    margin-left: 50rem;
    margin-top: 0.9rem;
    font-size: 180%;
}

nav a{
    font-family: "mr-eaves-sans",sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 5rem;
    text-decoration: underline 2px rgba(96, 33, 243, 0);
    text-underline-offset: 5px;
    color: white;
}

nav a.left {
    display: inline-block;
    position: relative;
    color: white;
}

nav a.left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

nav a.left:hover:after {
    transform:scaleX(1);
    transform-origin: bottom left;
}

/*------- Main page -------*/

body.backdrop {
    background-image: url("img/tabletopdown.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -10rem;    
}

#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -45%); 
    user-select: none;
  }
  
  #image-track > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 8px;
    border-color: var(--header-bg);
    border: solid 2px var(--header-bg);
}

.DM_grid{
    display: inline-grid;
    grid-template-columns: auto auto;   
}

.DM_tribute{
    font-family: "elza",sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 38rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    padding: 0.5rem;
    color: white;
    background-color: var(--header-bg);
    border-radius: 8px;
    max-width: fit-content;
}

.DM_tribute h1{
    margin-left: 9.7rem;
}

.DM_tribute p{
    margin-left: 2.3rem;
    width: 30rem;
    font-family: "adelle",sans-serif;
    font-weight: 200;
    font-style: normal;
}

.DM_tribute img{
    height:5.5rem;
    margin-top: 1rem;   
}

/*------- Main character page -------*/

/*Universal character class settings*/
.characters{
    display: grid;
    grid-template-columns: auto auto;
    place-self: center;
    margin-top: 2rem;
    justify-content: center;
    gap: 5% 5%;
}

.characters a{
    color: var( --main-text);
    text-decoration: none;  
}


/*Universal char class setting*/
.char{
    font-family: "adelle", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 20px 20px;
    height: 320px;
    aspect-ratio: 1.6180;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    background-color: var(--character-main-bg);
    display: inline-grid;
    grid-template-columns: 9rem auto ;
}

.char img{
    aspect-ratio: 1;
}

.char > .name{
    font-size: 2rem;
}

.char > .class{
    font-size: 1.6rem;
}

.char > .short_story{
    font-size: 1.5rem;
    min-width: 300px;
}


/*Character sub pages*/
.sub_char_image{
    margin-left: 5.7%;
    margin-top: 5.75rem;
    width: 258px;
    height: 258px;
    float:left;
}

.class p{
    color: var(--main-text);
    margin-top: 24rem;
    margin-left: -16rem;
    float:left;
    font-size: 1.3rem;
}

.stats{
    float: left;
    margin-top: 29rem;
    margin-left: -16rem;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 1rem 1rem;
}

.stat{
    color: var(--main-text);
    border: 1px solid var(--accent-color);
    padding: 0rem 1.2rem 0rem 1.2rem;
    border-radius: 1rem;
}

.backstory {
    color: var(--main-text);
    margin-left: 5.7%;
    max-width: 25.6rem;
    float:left;
    border: 1px solid var(--accent-color);
    padding: 1rem;
    border-radius: 14px;
    background-clip: border-box;
    margin-top: 5.27rem;
    font-family: "adelle", serif;
    font-weight: 200;
    font-style: normal;
}

.backstory h1{
    text-align: center;
    font-size: 35px;
}

.personality {
    color: var(--main-text);
    margin-left: 5.7rem;
    float:left;
    margin-top: 5.27rem;
    border: 1px solid var(--accent-color);
    padding: 1rem;
    border-radius: 14px;
    width: 25.6rem;
    font-family: "adelle", serif;
    font-weight: 200;
    font-style: normal;
}

.personality h2{
    font-size: 34px;
    text-align: center;
    padding-bottom: 3rem;
}

.personality h3{
    margin-top: 2rem;
}

.arnold{
    border: 1px solid rgb(12, 63, 194);
}

.cheesecake{
    border: 1px solid rgb(148, 6, 148);
}

.decessus{
    border: 1px solid rgb(8, 189, 8);
}

.tess{
    border: 1px solid #2E7E88
}

.traits{
    margin-top: -3.8rem;
}


/*arnold settings*/

.one img{
    width: 100px;
}

.one h4{
    margin-left: 2rem;
}

.one p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 3rem;
}

/*Cheesecake settings*/

.two img{
    width: 100px;
}

.two h4{
    margin-left: 2rem;
}

.two p{
    width: 200px;
    margin-left: 2rem;
}

/*Tess settings*/

.three img{
    width: 100px;
}

.three h4{
    margin-left: 2rem;
}

.three p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 3rem;
}

/*Dessesus settings*/

.four img{
    width: 100px;
}

.four h4{
    margin-left: 2rem;
}

.four p{
    width: 200px;
    margin-left: 2rem;
    margin-top: 4rem;
}

/* --- Timeline page --- */
.session_timeline{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10% 5%;
    margin-top: 2.5rem;
    justify-content: center;
}

.session_summary{
    color: var(--main-text);
    font-family: "adelle", cursive;
    width: 20rem;
    padding: 2rem;
    border: #7621af 1px solid;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    z-index: 0;
}

.session_summary h5{
    float: right;
}

.expanded{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 10rem;
    width: 100%;
}

.timeline_entry{
    position: absolute;
    text-align: center;
    width: 50rem;
    height: 34rem;
    background-color: rgb(185, 189, 194);
    font-family: "adelle", cursive;
    font-size: medium;
    border: var(--header-text) 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    visibility: hidden;
}

#osynlig1 {
    width: 100vw;
    min-height: 100%;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }
  
  #osynlig2 {
    width: 100vw;
    min-height: 100vh;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }
  
  #osynlig3 {
    width: 100vw;
    min-height: 100vh;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }

  #osynlig7 {
    width: 100vw;
    min-height: 100vh;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }

/*------- Shenanigans page -------*/
.shenanigans{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shenanigan {
    width: 60rem;
    font-family: "adelle", cursive;
    text-align: center;
    border-bottom: 1px solid #7621af;
    color: var(--main-text);
}

.shenanigan p{
    width: 50rem;
    margin-left: 5rem;
}

@media screen and (max-width: 1474px) {
    
    nav {

        margin-left: 50%;
    }

    .backstory {
        min-width: calc(40.75rem + 10%);
    }

    .personality {
        margin-top: 2.8125rem;
        min-width: calc(40.75rem + 10%);
    }   
    .personality h3{
        margin-top: 1rem;
    }

    .personality h2 {
        margin-bottom: 5.5rem;

    }
}