body{
    margin: 0;
    padding: 0;
}

:root {
    --text-main: #212121;
    --text-subheader: #707070;
    --color-primary: #FFF;
    --color-secondary: #F2F2F2;
    --color-secondary-st: #FFFFFF90;
    --color-accent: #C67AEC;
    --footer-bg: #212121; 
    --footer-text: #000;
    --primary-gradient: linear-gradient(225deg, #F9CBCB, #D277FF 30%, #C3FCF2);
}

body{
    background-image:var(--primary-gradient);
    margin: 0;  
}
 
@font-face {
    font-family: 'balls';
    src: url("../fonts/sgs.ttf") format("truetype");
    src: url("../fonts/sgs.woff2") format("woff2");
    src: url("../fonts/sgs.woff") format("woff");
}

.header_bg {
    background-color: var(--header-bg);
    color: var(--header-text);
    padding-top: 0.1rem;
    padding-bottom: 3rem;
}

header{
    margin-left: 3.81rem;
    margin-top: 2.96rem;
    margin-bottom: 1.32rem;
    font-size: 350%;
    font-family: 'balls', Fallback, sans-serif;
}

header a{
    text-decoration: dashed;
    font-family: 'balls';
    color: var(--header-text);
}

nav{
    margin-left: 50%;
    margin-top: -3.5rem;
    font-size: 150%;
}

nav a{
    margin-left: 10%;
    text-decoration: underline 2px rgba(96, 33, 243, 0);
    text-underline-offset: 5px;
    padding: 0%;
}

nav a.left {
    display: inline-block;
    position: relative;
    color: var(--text-main);
}

nav a.left:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: var(--text-main);
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}

nav a.left:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

img{
    margin-left: 5.7%;
    margin-top: 5.75rem;
    width: 256px;
    height:  256px;
    float:left;
}

.class p{
    margin-top: 23.3rem;
    margin-left: -16rem;
    float:left;
    font-size: 1.3rem;
}

.stats{
    float: left;
    margin-top: 29rem;
    margin-left: -16rem;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 1rem 1rem;
}

.stat{
    background-color:var(--color-secondary-st);
    padding: 0rem 1.2rem 0rem 1.2rem;
    border-radius: 1rem;
}

.information{
    float: left;
    margin-top: 44rem;
    margin-left: -16.5rem;
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 1rem 1rem;
}

.info{
    background-color:var(--color-secondary-st);
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    border-radius: 1rem;
}

.backstory {
    margin-left: 5.7%;
    max-width: 25.6rem;
    float:left;
    background-color: var(--color-secondary-st);
    padding: 1rem;
    border-radius: 14px;
    background-clip: border-box;
    margin-top: 5.27rem;
}

.backstory h1{
    text-align: left;
    font-size: 35px;
}

.personality {
    margin-left: 5.7%;
    float:left;
    margin-top: 5.27rem;
    background-color: var(--color-secondary-st);
    padding: 1rem;
    border-radius: 14px;
    max-width: 511px;
}

.personality h2{
    font-size: 34px;
    text-align: left;
}

.personality h3{
    margin-top: 5rem;
}

.traits{
    margin-top: -3.8rem;
}

footer{
    margin-top: 75rem;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding-bottom: 15rem;
    z-index: 1;
}


footer a{
    text-decoration: none;
    font-weight: bold;
    color: var(--footer-text)
}

.about p {
    font-family: 'balls';
    font-size: 250%;
    margin-left: 5%;
    padding-top: 2%;
}

.creators p{
    margin-left: 5%;
}

footer img {
    height:3%;
    width: 3%;
    margin-left: 6rem;
    margin-bottom: 6rem;
}